.utp {
	margin-top: 15%;margin-left: 15.8%;margin-right: 15.6%;background-color: rgba(255, 255, 255, 0.5);
}

h1 {
	font-family: Helvetica; color: rgb(51, 122, 183); font-weight: bold; text-align: center; padding: 1em 0em;
	}
	
.text-center {
	font-family: Helvetica; color: rgb(255, 255, 255); font-weight: bold;
}

h2:before, h3:before {
    width: 100px; height: 2px; background-color: rgb(51, 122, 183); content: ''; display: inline-block; top: -6px; left: -30px; position: relative;
}

h2:after, h3:after {
    width: 100px; height: 2px; background-color: rgb(51, 122, 183); content: ''; display: inline-block; top: -6px; right: -30px; position: relative;
}

.btn-group-lg>.btn, .btn-lg {
	font-size: 18px;
}

@media screen and (max-width: 767px) {
	.h2 {
    font-size: 80%;
}

.utp {
    margin-bottom: 15%;
    margin-top: 16%;
    margin-left: 7.8%;
    margin-right: 7.6%;
}

h1 {
    font-size: 88%;
}

h2:before, h3:before, h2:after, h3:after {
	display:none;
}

.form-control {
	margin-top: 5%;
}

.btn-block {
    margin-top: 5%;
}


}