.top {
    width: 100%;
    height: 96em;
    background-image: url(images/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.kak {
    height: 18em;
    padding-top: 5em;
}

.kak p {
    font-size: 47px;
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 0.87;
    text-align: center;
    padding: 1.5em 0em;
}

.utp {
    height: 18em;
    padding-top: 15%;
    padding-left: 12%;
    padding-right: 10.7%;
}

.proz {
    background-color: rgba(255, 255, 255, 0.5);
    height: inherit;
}

.proz-text {
	font-size: 60px;
    font-family: Helvetica;
    color: rgb(51, 122, 183);
    font-weight: bold;
    line-height: 1;
    text-align: center;
    top: 25%;
    width: 100%;
    height: 100%;
    padding: 1em 0em;
}

.bg-blue {
    width: 100%;
    background-color: rgb(51, 122, 183);
}

.zakaz {
    font-size: 20px;
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1;
    text-align: center;
	margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.prizyv {
	font-size: 15px;
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 2.222;
    text-align: center;
	margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.form {
	margin-bottom: 2em;
}

#zayavkaName, #applicationTelephone {
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 10px;
    background: rgb(51, 122, 183);
    width: 100%;
    height: 44px;
}

.applicationButton {
	border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    height: 44px;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: bold;
    background: rgb(255, 255, 255);
    color: rgb(51, 122, 183);
    border-color: rgb(255, 255, 255);
}

input {
    font-family: inherit;
    font-size: 18px;
    line-height: inherit;
	color: rgb(255, 255, 255);
	padding-left: 10px;
}

.why {
	
}

.media {
    width: 100%;
}

.media-heading {
	font-size: 26px;
    font-family: Helvetica;
    color: rgb(51, 122, 183);
    font-weight: bold;
    line-height: 1.333;
    text-align: left;
}

.media-object {
}

.thumbs_up, .screwdriver, .balloons, .shop, .wallet, .clock {
	width: 9em;
}

.primer {
	
}

.prim1 {

}

.prim_img {
	width:100%;
}

.hochu {
    margin: 5% 7.45%;
    width: 85%;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
}

.hochu:hover {
    background: rgb(255, 255, 255);
    color: rgb(51, 122, 183);
    border-color: rgb(51, 122, 183);
}

h1, h2, h3 {
    font-size: 44px;
    font-family: Helvetica;
    font-weight: bold;
    color: rgb(51, 122, 183);
    line-height: 1;
    text-align: center;
    margin-top: 50px;
	margin-bottom: 50px;
}

 h1.text-center:before, h2.text-center:before, h3.text-center:before {
    width: 150px;
    height: 2px;
    background-color: rgb(51, 122, 183);
    content: '';
    display: inline-block;
    top: -6px;
    left: -30px;
	position: relative;
}

h1.text-center:after, h2.text-center:after, h3.text-center:after {
    width: 150px;
    height: 2px;
    background-color: rgb(51, 122, 183);
    content: '';
    display: inline-block;
    top: -5px;
    right: -30px;
	position: relative;
}

.kto {
	
}

.lena {
	
}

.kto_name {
    font-size: 36px;
    font-family: Helvetica;
    color: rgb(51, 122, 183);
    font-weight: normal;
    line-height: 1.333;
    text-align: left;
}

.kto_prof {
    font-weight: normal;
	font-size: 26px;
    font-family: Helvetica;
    color: rgb(51, 122, 183);
    line-height: 1.333;
    text-align: left;
}

.kto_opis {
    font-size: 18px;
    font-family: Helvetica;
    color: rgb(51, 122, 183);
    font-weight: normal;
    line-height: 1.333;
    text-align: left;
}

.kak_my {

}

.smartphone {
	
} 

.signs {
	padding-top: 6em;
} 

.list{
	
} 

.fireworks {
	padding-top: 6em;
}

.smartphone img, .signs img, .list img, .fireworks img {
	width: 100%;
}

.smartphone_text, .signs_text, .list_text, .fireworks_text {
	font-size: 20px;
    text-decoration: none;
    font-family: "Helvetica";
    color: rgb(51, 122, 183);
    text-align: center;
    line-height: 1.2;
	font-weight:normal;
}

.ukrash p {
	font-size: 30px;
    font-family: Helvetica;
    color: rgb(51, 122, 183);
    font-weight: normal;
    line-height: 1;
    text-align: left;
}

.otzyv {

}

.otzyv_1, .otzyv_2, .otzyv_3, .otzyv_4 {
	border-width: 3px; border-color: rgb(51, 122, 183); border-style: solid;
}

.otzyv_text {
	width: 58%;padding-left: 1em;
}

.otzyv_opis {
	font-size: 19px;font-weight: normal;
}

.otzyv_name {
	text-align: right; font-size: 20px;
}

.otzyv_img {
	width:15%;
}

.footer {
	background-color: rgb(51, 122, 183);
	height: 16em;
	width: 100%;
}

.timer {
	font-size: 45px;
	font-weight: 600; 
	text-align: center; 
	padding-top: 1.5em;
	color: #fff;
}

.skidka {
	font-size: 28px; 
	text-align: center;
	color: #fff;
}

.form_niz {
    padding: 3em;
}

#zayavkaName_niz, #applicationTelephone_niz {
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 10px;
    background: rgb(51, 122, 183);
    width: 100%;
    height: 44px;
}

.applicationButton_niz {
	border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    height: 70px;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: bold;
    background: rgb(255, 255, 255);
    color: rgb(51, 122, 183);
    border-color: rgb(255, 255, 255);
	margin-top: 30px;
}

.applicationButton_niz:hover {
    background: rgb(51, 122, 183);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}



